# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.g.dart
*.freezed.dart 

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Firebase 구성 파일
**/GoogleService-Info.plist
ios/firebase/**/GoogleService-Info.plist
**/google-services.json
android/app/src/**/google-services.json

# Firebase Options
lib/config/firebase_options*.dart
lib/config/firebase_options_dev.dart
lib/config/firebase_options_qa.dart
lib/config/firebase_options.dart

# Firebase 로컬 파일
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebase/hosting.*.cache
firepit-log.txt

# cursor
.cursorignore

# Environment variables
.env
.env.*

# Keystore files and signing keys
android/key.properties
*.keystore
*.jks
upload-keystore.jks