<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 기기 재시작 후 자동으로 앱/서비스 실행. 백그라운드 서비스 자동 시작에 사용 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    
    <!-- 기기 진동 제어 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 절전 모드 진입 방지 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:label="조각케이크"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <meta-data
	            android:name="com.google.firebase.messaging.default_notification_channel_id"
	            android:value="high_importance_channel" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>